In [0]:
import math
import os
import random
import re
import sys
import pandas as pd

In [0]:
z['Typical Prise'] = (z['High'] + z['Low'] + z['Open'])/3







#z['Typical Prise'] = z[['Open']]#+z[['High']]
#z['Typical Prise'] = z[['Typical Prise']] +z[['Low']]
#z.loc[:,"Day"]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
#Z['Positive Money Flow'] = 


#for i in range(len(z['Typical Prise'])):
i = 0
if z['Typical Prise'][i] < z['Typical Prise'][i+1]:
  print(z['Typical Prise'][i+1])
  z['Typical Prise'][i] += 1




 












#z.to_csv(r'\desktop\shubham.csv')

48.343333333333334

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [0]:
k = pd.DataFrame(z['Typical Prise'])
print(k)

'''for i, j in k.iteritems():
  
  if k[j] < k[j+1]:
    print(k[j+1])
    j += 1
  
  #print(i,j)'''

    Typical Prise
0       48.440000
1       48.343333
2       48.926667
3       49.310000
4       48.403333
5       45.823333
6       44.903333
7       43.910000
8       44.183333
9       44.266667
10      43.896667
11      45.063333
12      44.680000
13      43.676667
14      43.073333
15      43.030000
16      43.113333
17      44.403333
18      45.073333
19      44.863333

'for i, j in k.iteritems():\n  \n  if k[j] < k[j+1]:\n    print(k[j+1])\n    j += 1\n  \n  #print(i,j)'

In [0]:
typical_price = (df.High + df.Low + df.Close) / 3
raw_money_flow = typical_price * df.Volume

df['Typical Price'] = typical_price
df['Raw Money Flow'] = raw_money_flow

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [0]:
print(df)

    Day   Open   High    Low  Volume  Close  Typical Price  Raw Money Flow
0     1  47.04  48.24  47.04    3509  48.15      47.810000   167765.290000
1     2  48.17  48.89  47.97    4862  48.36      48.406667   235353.213333
2     3  48.55  49.71  48.52    1810  49.55      49.260000    89160.600000
3     4  49.55  49.87  48.51    3824  49.41      49.263333   188382.986667
4     5  49.41  49.96  45.84    2209  46.36      47.386667   104677.146667
5     6  46.35  46.51  44.61    4558  45.60      45.573333   207723.253333
6     7  45.54  45.54  43.63    3832  44.02      44.396667   170128.026667
7     8  44.05  44.49  43.19    3778  43.57      43.750000   165287.500000
8     9  43.63  45.29  43.63    1005  45.00      44.640000    44863.200000
9    10  44.96  44.96  42.88    4047  43.44      43.760000   177096.720000
10   11  43.44  45.01  43.24    2201  44.90      44.383333    97687.716667
11   12  44.90  45.53  44.76    2507  45.18      45.156667   113207.763333
12   13  45.13  45.13  43.78    4392  44.39      44.433333   195151.200000
13   14  44.09  44.24  42.70    3497  42.95      43.296667   151408.443333
14   15  43.09  43.57  42.56    1181  43.08      43.070000    50865.670000
15   16  42.94  43.90  42.25    1971  42.52      42.890000    84536.190000
16   17  42.64  44.08  42.62    4994  43.99      43.563333   217555.286667
17   18  43.99  45.32  43.90    2017  45.23      44.816667    90395.216667
18   19  45.23  45.62  44.37    2823  44.82      44.936667   126856.210000
19   20  44.83  45.73  44.03    2774  45.63      45.130000   125190.620000

In [0]:
#money flow index another method
def MoneyFlowIndex(df, periods=14):
    typical_price = (df.High + df.Low + df.Close) / 3
    raw_money_flow = typical_price * df.Volume

    direction = []
    close_old = 0;

    for index, value in df['Adj Close'].iteritems():
        if(index == 0):
            direction.append(0)
        else:
            direction.append(-1 if value - close_old < 0 else 1)
        close_old = value

    raw_money_flow =  raw_money_flow.to_frame(name='raw_money_flow')
    raw_money_flow['direction'] = direction

    mfi = pd.DataFrame(index=df.index)
    mfi['mfi_'+str(periods)] = df['Adj Close']*0
    for i in reversed(range(len(df.index))):
        if i >= 14:
            pos_mf_prd = raw_money_flow[i-periods:i ][raw_money_flow.direction > 0].raw_money_flow.sum()
            neg_mf_prd = raw_money_flow[i-periods:i][raw_money_flow.direction < 0].raw_money_flow.sum()
        mf = 100 - 100/(1 + pos_mf_prd/neg_mf_prd)
        else:
            mf = 0
        mfi.iloc[i]['mfi_'+str(periods)] = mf
    return mfi

FileNotFoundError: ignored

In [0]:
from google.colab import files
files.upload()

Saving money_flow_index_14.csv to money_flow_index_14.csv

{'money_flow_index_14.csv': b'Day,Open,High,Low,Close,Volume,Typical Price,Positive Money Flow,Negative Money Flow,Positive Money Flow Sum,Negative Money Flow Sum,Money Flow Index\r\n1,47.04,48.24,47.04,48.15,3509,47.81,,,,,\r\n2,48.17,48.89,47.97,48.36,4862,48.406667,235353.213333,,,,\r\n3,48.55,49.71,48.52,49.55,1810,49.26,89160.6,,,,\r\n4,49.55,49.87,48.51,49.41,3824,49.263333,188382.986667,,,,\r\n5,49.41,49.96,45.84,46.36,2209,47.386667,,104677.146667,,,\r\n6,46.35,46.51,44.61,45.6,4558,45.573333,,207723.253333,,,\r\n7,45.54,45.54,43.63,44.02,3832,44.396667,,170128.026667,,,\r\n8,44.05,44.49,43.19,43.57,3778,43.75,,165287.5,,,\r\n9,43.63,45.29,43.63,45.0,1005,44.64,44863.2,,,,\r\n10,44.96,44.96,42.88,43.44,4047,43.76,,177096.72,,,\r\n11,43.44,45.01,43.24,44.9,2201,44.383333,97687.716667,,,,\r\n12,44.9,45.53,44.76,45.18,2507,45.156667,113207.763333,,,,\r\n13,45.13,45.13,43.78,44.39,4392,44.433333,,195151.2,,,\r\n14,44.09,44.24,42.7,42.95,3497,43.296667,,151408.443333,,,\r\n15,43.09,43.57,42.56,43.08,1181,43.07,,50865.67,768655.48,1222337.96,38.60663\r\n16,42.94,43.9,42.25,42.52,1971,42.89,,84536.19,533302.266667,1306874.15,28.98104\r\n17,42.64,44.08,42.62,43.99,4994,43.563333,217555.286667,,661696.953333,1306874.15,33.613058\r\n18,43.99,45.32,43.9,45.23,2017,44.816667,90395.216667,,563709.183333,1306874.15,30.135476\r\n19,45.23,45.62,44.37,44.82,2823,44.936667,126856.21,,690565.393333,1202197.003333,36.484526\r\n20,44.83,45.73,44.03,45.63,2774,45.13,125190.62,,815756.013333,994473.75,45.063673'}

In [0]:
data1 = pd.read_csv('money_flow_index_14.csv')
data2 = pd.DataFrame(data1)
data = data2[['Day','Open','High','Low','Close','Volume']]

In [0]:
data1

    Day   Open  ...  Negative Money Flow Sum  Money Flow Index
0     1  47.04  ...                      NaN               NaN
1     2  48.17  ...                      NaN               NaN
2     3  48.55  ...                      NaN               NaN
3     4  49.55  ...                      NaN               NaN
4     5  49.41  ...                      NaN               NaN
5     6  46.35  ...                      NaN               NaN
6     7  45.54  ...                      NaN               NaN
7     8  44.05  ...                      NaN               NaN
8     9  43.63  ...                      NaN               NaN
9    10  44.96  ...                      NaN               NaN
10   11  43.44  ...                      NaN               NaN
11   12  44.90  ...                      NaN               NaN
12   13  45.13  ...                      NaN               NaN
13   14  44.09  ...                      NaN               NaN
14   15  43.09  ...             1.222338e+06         38.606630
15   16  42.94  ...             1.306874e+06         28.981040
16   17  42.64  ...             1.306874e+06         33.613058
17   18  43.99  ...             1.306874e+06         30.135476
18   19  45.23  ...             1.202197e+06         36.484526
19   20  44.83  ...             9.944738e+05         45.063673

[20 rows x 12 columns]

In [0]:
"""
Typical Price
Source: https://en.wikipedia.org/wiki/Typical_price
Params: 
    data: pandas DataFrame
	high_col: the name of the HIGH values column
	low_col: the name of the LOW values column
	close_col: the name of the CLOSE values column
    
Returns:
    copy of 'data' DataFrame with 'typical_price' column added
"""
def typical_price(data, high_col = '<HIGH>', low_col = '<LOW>', close_col = '<CLOSE>'):
    
    data['typical_price'] = (data[high_col] + data[low_col] + data[close_col]) / 3

    return data

In [0]:
typical_price(data, high_col = 'High',  low_col = 'Low', close_col = 'Close')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

    Day   Open   High    Low  Close  Volume  typical_price
0     1  47.04  48.24  47.04  48.15    3509      47.810000
1     2  48.17  48.89  47.97  48.36    4862      48.406667
2     3  48.55  49.71  48.52  49.55    1810      49.260000
3     4  49.55  49.87  48.51  49.41    3824      49.263333
4     5  49.41  49.96  45.84  46.36    2209      47.386667
5     6  46.35  46.51  44.61  45.60    4558      45.573333
6     7  45.54  45.54  43.63  44.02    3832      44.396667
7     8  44.05  44.49  43.19  43.57    3778      43.750000
8     9  43.63  45.29  43.63  45.00    1005      44.640000
9    10  44.96  44.96  42.88  43.44    4047      43.760000
10   11  43.44  45.01  43.24  44.90    2201      44.383333
11   12  44.90  45.53  44.76  45.18    2507      45.156667
12   13  45.13  45.13  43.78  44.39    4392      44.433333
13   14  44.09  44.24  42.70  42.95    3497      43.296667
14   15  43.09  43.57  42.56  43.08    1181      43.070000
15   16  42.94  43.90  42.25  42.52    1971      42.890000
16   17  42.64  44.08  42.62  43.99    4994      43.563333
17   18  43.99  45.32  43.90  45.23    2017      44.816667
18   19  45.23  45.62  44.37  44.82    2823      44.936667
19   20  44.83  45.73  44.03  45.63    2774      45.130000

In [0]:
def money_flow_index(data, periods=14, vol_col='Volume'):
    remove_tp_col = False
    if not 'typical_price' in data.columns:
        data = typical_price(data)
        remove_tp_col = True
    
    data['money_flow'] = data['typical_price'] * data[vol_col]
    data['money_ratio'] = 0.
    data['money_flow_index'] = 0.
    data['money_flow_positive'] = 0.
    data['money_flow_negative'] = 0.
    
    for index,row in data.iterrows():
        if index > 0:
            if row['typical_price'] < data.at[index-1, 'typical_price']:
                data.set_value(index, 'money_flow_positive', row['money_flow'])
            else:
                data.set_value(index, 'money_flow_negative', row['money_flow'])
    
        if index >= periods:
            period_slice = data['money_flow'][index-periods:index]
            positive_sum = data['money_flow_positive'][index-periods:index].sum()
            negative_sum = data['money_flow_negative'][index-periods:index].sum()
            
            #print("positive sum is:",positive_sum)
            #print("negative sum is:",negative_sum)

            if negative_sum == 0.:
				#this is to avoid division by zero below
                negative_sum = 0.00001
            m_r = positive_sum / negative_sum

            mfi = 1-(1 / (1 + m_r))

            data.set_value(index, 'money_ratio', m_r)
            data.set_value(index, 'money_flow_index', mfi)
          
    data = data.drop(['money_flow', 'money_ratio', 'money_flow_positive', 'money_flow_negative'], axis=1)
    
    if remove_tp_col:
        data = data.drop(['typical_price'], axis=1)

    return data

In [0]:
money_flow_index(data, periods = 14 , vol_col = 'Volume')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:18: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:16: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  app.launch_new_instance()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:35: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:36: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

    Day   Open   High    Low  Close  Volume  typical_price  money_flow_index
0     1  47.04  48.24  47.04  48.15    3509      47.810000          0.000000
1     2  48.17  48.89  47.97  48.36    4862      48.406667          0.000000
2     3  48.55  49.71  48.52  49.55    1810      49.260000          0.000000
3     4  49.55  49.87  48.51  49.41    3824      49.263333          0.000000
4     5  49.41  49.96  45.84  46.36    2209      47.386667          0.000000
5     6  46.35  46.51  44.61  45.60    4558      45.573333          0.000000
6     7  45.54  45.54  43.63  44.02    3832      44.396667          0.000000
7     8  44.05  44.49  43.19  43.57    3778      43.750000          0.000000
8     9  43.63  45.29  43.63  45.00    1005      44.640000          0.000000
9    10  44.96  44.96  42.88  43.44    4047      43.760000          0.000000
10   11  43.44  45.01  43.24  44.90    2201      44.383333          0.000000
11   12  44.90  45.53  44.76  45.18    2507      45.156667          0.000000
12   13  45.13  45.13  43.78  44.39    4392      44.433333          0.000000
13   14  44.09  44.24  42.70  42.95    3497      43.296667          0.000000
14   15  43.09  43.57  42.56  43.08    1181      43.070000          0.603812
15   16  42.94  43.90  42.25  42.52    1971      42.890000          0.613934
16   17  42.64  44.08  42.62  43.99    4994      43.563333          0.710190
17   18  43.99  45.32  43.90  45.23    2017      44.816667          0.663869
18   19  45.23  45.62  44.37  44.82    2823      44.936667          0.698645
19   20  44.83  45.73  44.03  45.63    2774      45.130000          0.635155